*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: white;
    font-family: "Open Sans", sans-serif;
}
                                             /*navigation bar*/
.nav1{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.nav1 li{
    display: inline;
    list-style: none;
    margin: 20px;
    font-size: 16px;
    color: rgb(0, 0, 0);
}
.nav1 li a{
    text-decoration: none;
    color: rgb(69, 71, 73);
    margin-top: 10px;
}
.img1{
    height: 40px;
    width: 180px;
    margin-left: 100px;
    margin-top: 6px;
}
.b1{
    color: white;
    background-color: rgb(26, 137, 206);
    padding: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 26px;
    border: none;
    margin-right: 60px;
}
.ol1{
    margin-top:12px;
    margin-left: 360px;
}
.ol1 li a:hover{
    color: rgb(7, 78, 136);
} 
.b1:hover{
    background-color: rgb(99, 137, 150);
}


                                                 /*navigation bar end*/

.div1{
    display: block;
}
.hh2{
    font-size: 46px;
    margin-left: 120px;
    margin-top: 100px;
    margin-bottom: 10px;
}
.hh3{
    font-size: 24px;
    margin-left: 120px;
    color: rgb(74, 80, 82);
}
.b2{
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(17, 98, 145);
    border-radius: 40px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 120px;
    border-color: rgba(0, 153, 255, 0.678);
    font-size: 16px;
}
.b2:hover{
    background-color: rgb(14, 75, 167);
    color: white;
}   
.img2{
    float: right;
    height: 400px;
    width: 550px;
    margin-top: -340px;
    margin-right: 100px;
    animation-name: infiniteupdown;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    transition: all .3s;
}
@keyframes infiniteupdown {
    0%{
        transform: translateY(opx);
    }
    50%{
        transform: translateY(-40px);
    }
    100%{
        transform: translateY(0px);
    }
}

/*section1*/

.title1{
    display: block;
    justify-content: center;
    margin-left: 300px;
}
.title1 h1{
    font-size: 30px;
    margin-top: 130px;
    margin-left: 300px;
    padding: 4px;
}
.title1 p{
    font-size: 18px;
    margin-left: 220px;
    padding: 10px;

}
.content{
    display: inline-block;
    border: none;

    width: 210px;
    height: 410px;
    padding: 18px;
    margin: 25px;
    margin-top: 30px;
    border-radius: 10px;
    position: relative;
    box-shadow: 1px 1px 3px rgb(167, 158, 158);
}
.content:hover{
    background-color: rgb(53, 208, 255);
    color: white;
    transition: ease;
}

.content h3{
    display: block;
    font-size: 19px;
    padding: 20px;
    padding-left: 10px;
}
.content p{
    display: block;
    padding: 10px;
}
.world{
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: rgb(11, 186, 230);
}
.content img:hover{
    background-color: rgb(255, 255, 255);
}
.all{
    display: flex;
    justify-content: center;
    padding: 30px;
    margin: 20px;
    margin-top: -40px;
}

/*PRODUCT*/


.title2{
    display: block;
    justify-content: center;
    margin-left: 300px;
}
.title2 h1{
    font-size: 30px;
    margin-top: 40px;
    margin-left: 300px;
    padding: 4px;
}
.title2 p{
    font-size: 18px;
    margin-left: 220px;
    padding: 10px;
}


.productimg{
    height: 350px;
    width: 550px;
    border-radius: 6px;
    background-image: url("more-services-1.jpg");
    background-size: cover;
    margin: 20px;
    margin-left: 100px;
    margin-right: 100px
}
.productcontent{
    padding: 20px;
    margin: 20px;
    margin-top: 200px;
    display: block;
    justify-content: center;  
    background-color: aliceblue;  
    border-radius: 10px;
}
.productcontent h3{
    font-size: 20px;
    margin-left: 150px;
}
.productcontent p{
    display: flex;
    justify-content: center;
}
.productcontent:hover{
    background-color: rgb(15, 164, 233);
    color: aliceblue;
}
.all1{
    display: flex;
    justify-content: center;
    padding: 20px;
}









.abouthead{
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding: 10px;
}
.about1{
    padding: 10px;
    margin: 30px;
    display: block;
    justify-content: center;
    margin-right: 800px;
    color: rgb(70, 78, 83);
}
.about2{
    display: block;
    justify-content: center;
    float: right;
    margin: 30px;
    margin-left: 800px;
    margin-top: -150px;
    color: rgb(70, 78, 83);
}
.aboutimg{
    background-image: url("counts-img.svg");
    background-size: cover;
    padding: 10px;
    margin: 20px;
    height: 270px;
    width: 460px;
}
.cont{
    display: inline-block;
    justify-content: center;
    padding: 30px;
}
.cont img{
    height: 40px;
    width: 40px;
}
.cont h1{
    font-size: 36px;
    margin: 10px;
    margin-left: 60px;
    margin-top: -50px;
}
.cont p{
    display: inline-block;
    justify-content: center;
    margin-left: 60px;
    width: 250px;
    padding: 10px;
}
.aboutus1{
    display: inline-block;
    justify-content: center;
    margin-left: 550px;
    margin-top: -300px;
}
.aboutadjust{
    padding: 15px;
}
.contitle h1{
    display: inline-block;
    justify-content: center;
    margin: 10px;
    margin-left: 550px;
    font-size: 34px;
}
.sec1{
    display: inline-block;
    justify-content: left;
    margin: 20px;
    padding: 20px;
}
.sec1 h1{
    margin: 20px;
}
.sec1 p{
    display: inline-block;
    justify-content: left;
    width: 300px;
    margin-left: 20px;
}
.social{
    display: inline;
    justify-content: center;
}
.socialblock{
    display: inline;
    justify-content: left;
}
.socialtwiter{
    height: 60px;
    width: 60px;
    background-image: url("twitter.svg");
    background-size: cover;
    border: 4px solid black;
    border-radius: 40px;
    padding: 18px;
    margin: 10px;
}
.socialface{
    height: 60px;
    width: 60px;
    background-image: url("twitter.svg");
    background-size: cover;
    border: 4px solid black;
    border-radius: 40px;
    padding: 18px;
    margin: 10px;
    margin-left: 80px;
    margin-top: -70px;
   
}
.socialinsta{
    height: 60px;
    width: 60px;
    background-image: url("twitter.svg");
    background-size: cover;
    border: 4px solid black;
    border-radius: 40px;
    padding: 18px;
    margin: 10px;
    margin-left: 152px;
    margin-top: -70px;
}
.sociallink{
    height: 60px;
    width: 60px;
    background-image: url("twitter.svg");
    background-size: cover;
    border: 4px solid black;
    border-radius: 40px;
    padding: 18px;
    margin: 10px;
    margin-left: 220px;
    margin-top: -70px;
}
.socialtwiter:hover{
    border: none;
    background-color: rgb(42, 141, 235);
}
.socialface:hover{
    border: none;
    background-color: rgb(42, 141, 235);
}
.socialinsta:hover{
    border: none;
    background-color: rgb(42, 141, 235);
}
.sociallink:hover{
    border: none;
    background-color: rgb(42, 141, 235);
}

.addressimg1{
    border: none;
    background-image: url("location-pin.svg");
    background-size: cover;
    height: 50px;
    width: 50px;
}
.addressimg2{
    border: none;
    background-image: url("send-mail.svg");
    background-size: cover;
    height: 50px;
    width: 50px;
}.addressimg3{
    border: none;
    background-image: url("phone.svg");
    background-size: cover;
    height: 50px;
    width: 50px;
}
.address1 p{
    display: inline-block;
    justify-content: center;
    width: 170px;
    margin: 20px;
    padding-left: 40px;
    margin-top: -40px;
}
.sec2{
    display: inline-block;
    justify-content: center;
    margin-left: 100px;
    margin-top: 40px;
}
.contactall{
    display: flex;
}
.detail1{
    width:300px;
    margin-left: 100px;
    padding-top: 30px;
}
.detail1 input{
    width: 300px;
    height: 40px;
    margin-left: 60px;
    padding: 10px;
    margin: 20px;
}
.detail1 textarea{
    width: 300px;
    margin-left: 20px;
    padding: 10px;

}
.lstbutton{
    padding: 20px;
    padding-top: 10px;
    background-color: rgb(35, 177, 224);
    color: aliceblue;
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 20px;
    font-size: 12px;
    margin: 20px;
    margin-left: 100px;
}